*{
    font-family: 'Roboto';
}

body{
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;

}

header {
    color: #000000;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}


/* Lista de cursos */

#cursos-container {
    padding: 50px;
}

#cursos-container h2 {
    margin-bottom: 10px;
}

#cards-container {
    display: flex;
}

#cursos-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#cursos-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* navbar */

#navbar {
    justify-content: space-between;
    align-items: center;
    background-color:#9e9e9e;
}

.title{
    margin-bottom: 0;
    margin-left: 55px;
}

#navbar img{
    width: 70px;
}

#navbar a {
    font-size: 23px;
    color: #000000;
}

#navbar a:hover {
    color: rgb(144, 142, 142);
}

/* footer */

footer { 
    height: 50px;
    text-align: center;
    align-items: center;
    background-color: #6d6d6d;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 15px;
}

/* botao */

.btn{

    font-family: Roboto, sans-serif;
    font-weight: 399;
    font-size: 15px;
    color: #5e6163;
    background-color: #0066cc00;
    padding: 7px 13px;
    border: solid #626569 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 439ms;
    transform: translateX(0);
    cursor: pointer;
}
    
.btn:hover{
    transition : 439ms;
    padding: 7px 10px;
    transform : translateX(-0px);
    background-color: #d6d6d6;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}

.btn-prof-crud{
    width: 100px;
    margin: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 399;
    font-size: 15px;
    color: #5e6163;
    background-color: #0066cc00;
    padding: 7px 13px;
    border: solid #626569 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 439ms;
    transform: translateX(0);
    cursor: pointer;
}
    
.btn-prof-crud:hover{
    transition : 439ms;
    padding: 7px 10px;
    transform : translateX(-0px);
    background-color: #d6d6d6;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}

.btn-aluno-crud{
    width: 100px;
    margin: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 399;
    font-size: 15px;
    color: #5e6163;
    background-color: #0066cc00;
    padding: 7px 13px;
    border: solid #626569 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 439ms;
    transform: translateX(0);
    cursor: pointer;
}
    
.btn-aluno-crud:hover{
    transition : 439ms;
    padding: 7px 10px;
    transform : translateX(-0px);
    background-color: #d6d6d6;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}

.btn-curso-crud{
    width: 100px;
    margin: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 399;
    font-size: 15px;
    color: #5e6163;
    background-color: #0066cc00;
    padding: 7px 13px;
    border: solid #626569 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 439ms;
    transform: translateX(0);
    cursor: pointer;
}
    
.btn-curso-crud:hover{
    transition : 439ms;
    padding: 7px 10px;
    transform : translateX(-0px);
    background-color: #d6d6d6;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}

.btn-editar{
    width: 175px;
    margin: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 399;
    font-size: 15px;
    color: #5e6163;
    background-color: #0066cc00;
    padding: 7px 13px;
    border: solid #626569 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 439ms;
    transform: translateX(0);
    cursor: pointer;
}
    
.btn-editar:hover{
    transition : 439ms;
    padding: 7px 10px;
    transform : translateX(-0px);
    background-color: #d6d6d6;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}

.btn-categorias{
    width: 130px;
    margin: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 399;
    font-size: 15px;
    color: #5e6163;
    background-color: #0066cc00;
    padding: 7px 13px;
    border: solid #626569 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition : 439ms;
    transform: translateX(0);
    cursor: pointer;
}
    
.btn-categorias:hover{
    transition : 439ms;
    padding: 7px 10px;
    transform : translateX(-0px);
    background-color: #d6d6d6;
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}

/* geral */

.titulo{
    margin-bottom: 20px;
}

.form-text{
    margin-top: 10px;
}

.secretaria-titulo{
    margin-bottom: 30px;
}

.cadastrar-professor{
    margin-top: 30px;
    margin-bottom: 25px;
}

.cadastrar-aluno{
    margin-top: 30px;
    margin-bottom: 25px;
}

.cursos-prof{
    margin-top: 8px;
}

#botao-salvar{
    margin-top: 20px;
}

/* Search Container */

#search-container {

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;

}